.base-chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.base-chat.tile.is-parent {
  padding-top: 0;
}

.base-chat div.identity {
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 200;
  width: 100%;
}

.base-chat div.identity h1.title {
  color: #f6f6f6;
}

.base-chat > div.chat-content {
  overflow-y: scroll;
}

.base-chat > div.user-chat-input {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 5px .75rem;
}

.base-chat > div.user-chat-input div.control:not(:last-child) {
  width: 100%;
}

.base-chat > div.user-chat-input input.input {
  border: 1px solid #f6f6f6;
  border-bottom: 3px solid #f6f6f6;
  border-radius: 5px;
  color: white;
}

.base-chat > div.user-chat-input input.input::placeholder {
  color: #848484 !important;
  font-family: monospace !important;
}

.base-chat > div.user-chat-input div.control > button.button {
  border-color: #1c1c1c;
  color: #f6f6f6;
}

@media screen and (min-width: 769px){
  .base-chat {
    width: 480px;
    margin: auto;
    border: 0.05em solid #f6f6f6;
  }
}
